@model bco.atlantida.estadocuenta.webapp.Models.ViewModel.MovimientosViewModel
<div class="row">
    <div class="col-md-6">
        <p>Fecha: @Model.FechaMovimiento</p>
    </div>
    <div class="col-md-6">
        <p>Monto: @Model.Monto</p>
    </div>
    <div class="col-md-12">
        <p>Descripcion: @Model.Descripcion</p>
    </div>
    
</div>